{:description "Advent of Code 2023 solutions in Clojure"
 :url "https://github.com/mcinglis/aoc2023-clojure"
 :paths ["src" "resources"]

 :deps {}

 :aliases
 {:main
  {:exec-fn au.id.minglis.aoc2023.main/-main}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {io.github.cognitect-labs/test-runner #:git{:url "https://github.com/cognitect-labs/test-runner"
                                               :tag "v0.5.1"
                                               :sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}}}
